body {
  /*background-color: #f5f5f5;*/
  width: 500px;
  height: 400px;
}

.container {
  display: flex;
  flex-direction: row;
  border: 1px solid lightgrey;
  border-radius: 6px;
/*  margin: 1.2rem;*/
  margin: 0 1rem;
  padding: 1.6rem;
}

.timer-digit {
  width: 4.4rem;
  font-family: 'Google Sans', Roboto, Arial;
  font-size: 62px;
  outline: none;
  border: 0;
}

input::placeholder {
  color: #dadce0;
}
/*
.time.digit:focus, input:focus {
  outline: none;
}
*/
.timer-digit-unsure {
  color: #dadce0;
}


.timer-digit-sep {
  font-size: 28px;
  padding-right: 1rem;
}

button {
  padding: 0.5rem 0.95rem;
  font-weight: 600;
  font-size: 0.7rem;
  border-radius: 2px;
}

#start-button {
  background: #1a73e8;
  color: white;
  border: 1px solid #1a73e8;
  margin-right: 1rem;
}

#reset-button {
  color: #1a73e8;
  background-color: #fff;
  border: 1px solid #dadce0;
}